<nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">
    <a href="/home" class="navbar-brand d-flex align-items-center"><img  src="assets/imgs/whiterabbit-logo.svg"> White Rabbit</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse1">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse1">
        <div class="navbar-nav">
            <!-- <a href="#" class="nav-item nav-link active">Home</a> -->
        </div>
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link">Logout</a>
        </div>
    </div>
</nav>