<div class="wrapper">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="username" placeholder="Username" formControlName="username" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password" required="" />
        
        <div class="submit-btn-block">
            <button class="btn btn-md btn-primary btn-block" [disabled]="!loginForm.valid" type="submit">Login</button>
        </div>
    </form>
</div>